
<h1>Welcome to app "Vivo"!</h1>
<p>Buddies you can sign up <%= link_to "here", "http://facebook.com" %>.</p>
<p>its an amazing application to store <%= link_to "interest", "https://www.google.co.in/?gfe_rd=cr&ei=Ul2lVcXYMdeBoAO5k4GICA#q=interest" %>.</p>